@page "/registration"
@using HeroIcons.Blazor.Solid
@using TailwindBlazorElectron.Model

@code {
	string FirstName, LastName, City, Street, StreetNumber, Gender, Email, Password;
	int ZipCode;
	DateTime DateOfBirth = DateTime.Now; 

	void OnSubmit()
	{
		Console.WriteLine(FirstName);
		Console.WriteLine(LastName);
		Console.WriteLine(ZipCode);
		Console.WriteLine(City);
		Console.WriteLine(Street);
		Console.WriteLine(StreetNumber);
		Console.WriteLine(Gender);
		Console.WriteLine(DateOfBirth);
		Console.WriteLine(Email);
		Console.WriteLine(Password);


		//Router.NavigateTo("");
	}
}

<div class="flex items-center py-8 text-sm 3xl:py-10">
	<div class="flex items-center justify-center w-4/5 h-full ml-20 3xl:mt-20 px-14">
			<form @onsubmit="() => OnSubmit()">
				<div class="flex flex-col">
					<div class="flex flex-col 3xl:flex-row">
						<div>
							<p class="text-2xl font-semibold text-indigo-600">Register New Member</p>
							<div class="flex mt-12">
								<div class="w-1/5">
									<p class="text-base font-semibold text-black">Personal info</p>
									<p class="text-gray-500">Used for knowing you</p>
								</div>
								<div class="ml-20">
									<div class="flex">
									<div>
										<p class="text-xs font-medium text-gray-700 ">First Name</p>
										<input required @bind="@FirstName"
										class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
										type="text" />
									</div>
									<div class="ml-5">
										<p class="text-xs font-medium text-gray-700">Last Name</p>
										<input required  @bind="@LastName"
												class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
												type="text"  />
									</div>
									</div>
									<div class="flex mt-5">
										<div>
											<p class="text-xs font-medium text-gray-700">Gender</p>
											<select asp-for="Sex" @bind="@Gender" class="h-10 mt-1 border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50">
												<option value="male">male</option>
												<option value="female">female</option>
											</select>
										</div>
										<div class="w-full ml-5">
											<p class="text-xs font-medium text-gray-700">Date of Birth</p>
											<input required @bind="@DateOfBirth"
													class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
													type="date"  />
										</div>
									</div>
								</div>	
							</div>
							<div class="flex mt-20">
								<div class="w-1/5">
										<p class="text-base font-semibold text-black">Address info</p>
										<p class="text-gray-500">Used for tracing you</p>
								</div>
								<div class="ml-20">
									<div class="flex w-full mt-5">
										<div class="w-1/4">
											<p class="text-xs font-medium text-gray-700">Zip Code</p>
											<input required @bind="@ZipCode"
													class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
													type="number"  />
										</div>
										<div class="w-full ml-5">
											<p class="text-xs font-medium text-gray-700">City</p>
											<input required  @bind="@City"
													class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
													type="text"  />
										</div>
									</div>
									<div class="flex w-full mt-5">
										<div class="w-full">
										<p class="text-xs font-medium text-gray-700">Street</p>
										<input required  @bind="@Street"
												class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
												type="text"  />
										</div>
										<div class="w-1/4 ml-5">
										<p class="text-xs font-medium text-gray-700">Street Number</p>
										<input required @bind="@StreetNumber"
												class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
												type="number"  />
										</div>
									</div>
								</div>
							</div>
							<div class="flex mt-20">
								<div class="w-1/5">
									<p class="text-base font-semibold text-black">Account info</p>
									<p class="text-gray-500">Used for sign in</p>
								</div>
								<div class="ml-20">
									<div>
										<p class="text-xs font-medium text-gray-700 ">Email Address</p>
										<input required @bind="@Email"
										class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
										type="email" placeholder="example@email.com" />
									</div>
									<div class="flex mt-5">
										<div>
											<p class="text-xs font-medium text-gray-700 ">Password</p>
											<input required @bind="@Password"
											class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
											type="password" placeholder="At least 8 characters" />
										</div>
										<div class="ml-5 ">
											<p class="text-xs font-medium text-gray-700">Confirm Password</p>
											<input required
													class="w-full h-10 px-4 mt-1 transition-colors border-gray-300 rounded-lg focus:border-white focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50"
													type="password" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="flex mt-20 3xl:ml-32">
							<div class="w-1/5">
								<p class="text-base font-semibold text-black">Subscription</p>
								<p class="text-gray-500">Paying options</p>
							</div>
							<div class="ml-20">
								<Subscriptions></Subscriptions>
							</div>
							
						</div>
					</div>
					<div>
						<button
						class="float-right w-1/5 px-3 py-3 mt-32 font-semibold text-white transition duration-150 ease-in-out bg-indigo-600 rounded-lg 3xl:float-left hover:bg-indigo-500 focus:outline-none">
						Register</button>
					</div>	
				</div>
			</form>	
			

	</div>
	
</div>
